In [2]:
'''
ESERCITAZIONE PYTHON - 1
'''

'\nESERCITAZIONE PYTHON - 1\n'

In [3]:
1+1

2

In [4]:
2+3**3

29

In [5]:
6/2

3.0

In [6]:
7/2 # in C would be 3

3.5

In [7]:
7//2 # with // you divide integer in C style

3

In [8]:
a=3

In [9]:
a+7

10

In [10]:
c=3.1415

In [11]:
d="my_string"

In [12]:
type(a)

int

In [13]:
type(c)

float

In [14]:
type(d)

str

In [15]:
size(a)

NameError: name 'size' is not defined

In [16]:
a= 2**32+1 # too big for C. Python can do it

In [20]:
b=2**100 +1 # in python integer can be as bigger as your PC can handle.
# you could gom out of memory in python with a single integer

In [28]:
f= True

In [32]:
a=1
a=1.1
# in python there is only pointers, so you can change type of variable easly since
# python simply redirect the pointer "a"

In [34]:
if a<10:
    a=11
    b=7
# indentation is syntax in python
c=4
print(a,b,c)

11 7 4

In [36]:
# ora sta spiegando i porblemi di jupyter... quei problemi che spyder non ha <3

In [43]:
list_of_num = range(2,10)
print(type(list_of_num))
print(list_of_num)
for i in list_of_num:
    print(i)

<class 'range'>
range(2, 10)
2
3
4
5
6
7
8
9

In [46]:
s="a string"
for i in s:
    print("i is: %s"%i)

i is: a
i is:
i is: s
i is: t
i is: r
i is: i
i is: n
i is: g

In [50]:
for i in range(0,3): # stampa da 0 a 2
    print(i)

0
1
2

In [51]:
for i in range(3): # parte in automatico da 0
    print(i)

0
1
2

In [53]:
for i in range(0,9,3): # il terzo numero Ã¨ il "salto"
    print(i)

0
3
6

In [69]:
for i in range(1,21):
    if( (i%3==0) or ('3' in str(i)) ):
        print("goofy! (",i,")")
    else:
        print(i)

1
2
goofy! ( 3 )
4
5
goofy! ( 6 )
7
8
goofy! ( 9 )
10
11
goofy! ( 12 )
goofy! ( 13 )
14
goofy! ( 15 )
16
17
goofy! ( 18 )
19
20

In [74]:
l = [1,2.2, "banana", None, True] # puoi mettere quel che vuoi nelle liste
print(l[2], l[0], len(l))

banana 1 5

In [83]:
print(l[-4]) # cosi accedi agli elementi al contrario

2.2

In [84]:
l.pop(2) # rimuove l'elemento numero 2

'banana'

In [87]:
l[0:3:2] # dal 0 al 3 a salti di 2

[1, None]

In [98]:
prime_num=[]
for i in range(2,101):
    is_prime=True
    for j in range(2,i):
        if i%j==0:
            is_prime=False
            break # if a number is dividable for one number I stop to check for the bigger numbers
    if is_prime:
        prime_num.append(i)
print(prime_num)   
print(len(prime_num), "prime numbers found")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25 prime numbers found

In [102]:
l1=[1,2,"orange", 5,3,True,[1,2,3]]
l2=l1
l2.pop() #rimuovo l'ultimo da l2 
print("l1: ",l1)
print("l2: ",l2)
# l1 is modified too because l1 and l2 are pointers to the SAME variable list!

l1:  [1, 2, 'orange', 5, 3, True]
l2:  [1, 2, 'orange', 5, 3, True]

In [104]:
#how to check if two pointers to the same variable in memory? using is:
print(l1 is l2)
print(l1 is a)

True
False

In [106]:
#I can use "copy"
l3 = l1.copy()
l3.pop()
print("l1: ",l1)
print("l3: ",l3)

l1:  [1, 2, 'orange', 5, 3, True]
l3:  [1, 2, 'orange', 5, 3]

In [114]:
a=2
b=a
print(a is b)
b=4 # in this way I redirect b to another value (assignement), so no problem.
print(a is b)
print(a,b)

True
False
2 4

In [118]:
a=9
b=3+6
print(a is b) # there is only one 9 pointed by both. but only for small number (sotto le migliaia)

True

In [123]:
ll=[5,6,2,8,3]
a=sorted(ll) # ritorna una lista ordinata
print(ll,a)
ll.sort() # ordina la lista stessa
print(ll)

[5, 6, 2, 8, 3] [2, 3, 5, 6, 8]
[2, 3, 5, 6, 8]

In [125]:
square=[i**2 for i in range(10)] # you can describe the for loop in the list -> compact 
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
digit_3_square=[i**2 for i in range(100) if i%7==0 or '3' in str(i) ] 
# quadrati dei numeri divisibili per 7 o che contengono il numero 3
print(digit_3_square)

[0, 9, 49, 169, 196, 441, 529, 784, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1764, 1849, 2401, 2809, 3136, 3969, 4900, 5329, 5929, 6889, 7056, 8281, 8649, 9604]

In [132]:
#deallocate a variale
del a

In [134]:
def f(x): return x**2
print(f(8))
# if you don't return, python return the default "None"

64

In [138]:
import math

In [139]:
math.sqrt(100)

10.0

In [140]:
math.factorial(66)

544344939077443064003729240247842752644293064388798874532860126869671081148416000000000000000

In [146]:
import sys
sys.getsizeof(math.factorial(66)) # number of bytes of math.factorial(66)

68